{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        {{.Content}}
    </article>
    <div class="index">
        {{ range $section := .Site.Sections }}
        <div class="index-section">
            <h2>{{ $section.Title }}</h2>
            <p>{{ $section.Params.Summary }}</p>
            <ul>
                {{ range $index, $page := (where .Site.Pages "Section" $section.Section) }}
                {{ if eq $page.BundleType "leaf" }}
                <li>
                    <a href="{{.Permalink}}">
                        {{ $page.Params.ShortTitle }}
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    {{- partial "website-info.html" . -}}
</main>
{{ end }}