{{ define "main" }}  

<h1>{{ .Title }}</h1>  

{{ .Content }}  

{{ with .Resources.GetMatch "script.js" }}
  <script>{{ .Content | safeJS }}</script>
{{ end }}

<div class="dynamic" id="dynamic">
  <button type="button" id="try-it-out" class="big centred">
      Try it out!
  </button>

  {{ with .Resources.GetMatch "dynamic.html" }}
    {{ .Content | safeHTML }}
  {{ end }}
</div>

<div class="info-box hidden" id="origins">
  <div class="info-title">Origins</div>
  <div>
      Source: <code id="source-origin"></code>
  </div>
  <div>
      Request: <code id="request-origin"></code>
  </div>
</div>

<div>
  <a href="link-tag-cross-origin.html">
      <button type="button" class="blue">
          Next example <small>>></small>
      </button>
  </a>
</div>

{{ end }}  

