body {
    background-color: rgb(87, 87, 87);
    font-family: Tahoma, sans-serif;
    color: white;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    margin: auto;
    text-align: left;
    padding: 20px;
    box-sizing: border-box; 
    max-width: 60%;
    background-color: rgb(20, 20, 20);
    min-height: 100vh;
    border-left: medium solid rgb(80, 80, 80);
    border-right: medium solid rgb(80, 80, 80);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(220, 220, 220);
    transition: 250ms;
}

#navigation a {
    text-decoration: none;
}
  
.info-box {
    display: block;
    text-align: left;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    margin-top: 15px;
    color: black;
    border-radius: 8px;
}

.hidden {
    display: none;
}

.dynamic {
    border: medium dotted #4CAF50;
    margin-top: 15px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.centred {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.info-title {
    text-transform: uppercase;
    font-weight: bold;
}

.single-origin {
    text-transform: none;
}

code {
    background-color: rgb(50, 50, 50);
}

.info-box code {
    background-color: inherit;
}

div.highlight pre {
    padding: 8px;
    border-radius: 6px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    padding: 12px 26px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #545454;
    z-index: 1;
    cursor: pointer;
}

button.disabled {
    cursor: auto;
}

button.disabled:hover {
    background-color: #4CAF50;
}

button.red {
    background-color: #b02222;
}

button.red:hover {
    background-color: #b02222;
}

button:hover {
    background-color: #38843a;
    transition: 250ms;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

article h1 {
    text-align: center;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(32, 183, 105);
}

img {
    border: medium solid rgb(80, 80, 80);
}

.navigation {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    margin-top: 25px;
    font-size: 22px;
}

.navigation-previous {
    text-align: right;
}

.navigation-next {
    text-align: left;
}

[class^="navigation-"] {
    margin: 8px;
}

.index-section {
    border-top: 1.5px solid rgb(207, 207, 207);
}

.index-section ul {
    padding: 0;
}

.index-section li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.index-section ul a {
    padding: 8px;
    margin: 0;
    margin-left: 8px;
    text-decoration: none;
    display: block;
    border-top: .5px solid rgb(207, 207, 207);
}

.index-section ul a:hover {
    padding-left: 12px;
    color: inherit;
    transition: 250ms;
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

.website-info {
    text-align: center;
    margin-top: 50px;
    color: rgb(80, 80, 80);
}

.website-info a {
    color: rgb(80, 80, 80);
}

.website-info a:hover {
    color: white;
    transition: 250ms;
}

#response-body {
    overflow: hidden;
}