{{ define "main" }}

{{$section_heading := .Site.GetPage "section" .Section }}
<h2>{{ $section_heading.Title }}</h2>
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ with .Resources.GetMatch "script.js" }}
<script>
    const apiBaseURL = {{ $.Site.Params.apiBaseURL }}
    const assetsBaseURL = {{ $.Site.Params.assetsBaseURL }}
    {{ .Content | safeJS }} 
</script>
{{ end }}

<button type="button" id="try-it-out">
    Try it out!
</button>

{{ with .Resources.GetMatch "dynamic.html" }}
<div class="dynamic" id="dynamic">
    {{ .Content | safeHTML }}
</div>
{{ end }}

<div class="info-box hidden" id="response-data">
    <div id="error" class="hidden">
        <div class="info-title">Error</div>
    </div>
    <div id="response-body" class="hidden">
        <div class="info-title">Body</div>
    </div>
    <div id="origins" class="hidden">
        <div class="info-title">Origins</div>
    </div>
    <div id="headers" class="hidden">
        <div class="info-title">Headers</div>
    </div>
</div>

<div class="navigation">
    {{ $pages := where site.RegularPages "Section" .Section }}
    {{ $orderedPages := $pages.ByWeight.Reverse }}

    <div class="navigation-previous">
        {{ with $orderedPages.Prev . }}

        <a href="{{ .Permalink }}">
            &laquo; Previous
        </a>
        {{ end }}
    </div>

    <div class="navigation-index">
        <a href="{{ .Site.BaseURL }}">
            Index
        </a>
    </div>

    <div class="navigation-next">
        {{ with $orderedPages.Next . }}
        <a href="{{ .Permalink }}">
            Next &raquo;
        </a>
        {{ end }}
    </div>
</div>

{{- partial "website-info.html" . -}}

{{ end }}