{{ define "main" }}

{{ .Content }}

{{ with .Resources.GetMatch "script.js" }}
<script> {{ .Content | safeJS }} </script>
{{ end }}

<div class="dynamic" id="dynamic">
  <button type="button" id="try-it-out" class="big centred enabled">
    Try it out!
  </button>

  {{ with .Resources.GetMatch "dynamic.html" }}
  {{ .Content | safeHTML }}
  {{ end }}
</div>

<div class="info-box hidden" id="response-data">
  <div id="error" class="hidden">
    <div class="info-title">Error</div>
  </div>  
  <div id="body" class="hidden">
    <div class="info-title">Body</div>
  </div>
  <div id="origins" class="hidden">
    <div class="info-title">Origins</div>
  </div>
  <div id="headers" class="hidden">
    <div class="info-title">Headers</div>
  </div>
</div>

<div>
  {{ $pages := where site.RegularPages "Section" .Section }}
  {{ $orderedPages := $pages.ByWeight.Reverse }}

  {{ with $orderedPages.Prev . }}
  <a href="{{ .Permalink }}">
    <button type="button" class="blue">
      <small>&lt;&lt;</small> Previous example
    </button>
  </a>
  {{ end }}

  {{ with $orderedPages.Next . }}
  <a href="{{ .Permalink }}">
    <button type="button" class="blue">
      Next example <small>&gt;&gt;</small>
    </button>
  </a>
  {{ end }}

</div>

{{ end }}